<div class="ui center aligned segment">
    <p><a href="/adresse">Adresse</a> | <a href="/conditions-generales">Conditions générales</a> | <%=  t('.copyright', :year => Time.now.year, :site_name => Refinery::Core.site_name) %></p>
</div>



