#logo {
background-image: url(image-path('logoEP.gif'));
padding:0px;
margin:0px;
width:225px;
height:110px;
}

#logo a {
color:transparent;
font-size: 150%;
position : absolute;
top : 5%;
left : 1%;
text-transform: lowercase;
}

#titre {
color:#1c3089;
text-transform: uppercase;
font-size: 160%;
margin-left: 225px;
position : absolute;
top:40px;
}

#logo-titre {
color:#1c3089;
left : 1%;
font-size: 150%;
}

#logo-titre label {
font-size: 60%;
}

#page {
margin-left :10%;
margin-right:10%;
margin-top:2%;
}

footer {
margin-top:5%;
}

footer p {
margin-left:10%;
margin-right:10%;
}
