@media only screen and (min-device-width:1024px) and (min-width:750px)
{

      header {
      /*background-color: #e4e4e4;
      background-color: #4e6d7f;
      background-color: #70a6c4;*/
      background-color: #88c6ea;
      }

.nav, .nav ul{
padding:0;
margin:0;
list-style:none;
text-align:center;

}
.nav li{
display:inline-block;
position:relative;
border-radius:8px 8px 0 0;
}
.nav ul li{
display:inherit;
border-radius:0;
}
.nav ul li:hover{
border-radius:0;
}
.nav ul li:last-child{
border-radius:0 0 8px 8px;
}
.nav ul{
position:absolute;
z-index: 1000;
max-height:0;
left: 0;
right: 0;
overflow:hidden;
-moz-transition: .4s all .1s;
-webkit-transition: .4s all .1s;
transition: .4s all .1s;
}
.nav li:hover ul{
max-height:15em;
}
/* background des liens menus */
.nav li{
background-color: #729EBF;
background-image: -webkit-linear-gradient(top, #729EBF 0%, #333A40 100%);
background-image:linear-gradient(to bottom, #729EBF 0%, #333A40 100%);
}

/* background des liens sous menus */
.nav li li{
background:#333A40;
}

/* background des liens menus et sous menus au survol */

.nav li:hover, .nav li li:hover{
background:#729EBF;
}

/* les a href */
.nav a{
text-decoration:none;
display:block;
padding:8px 32px;
color:#fff;
font-family:arial;
}
.nav ul a{
padding:8px 0;
}
.nav li:hover li a{
color:#fff;
text-transform:inherit;
}
.nav li:hover a, .nav li li:hover a{
color:#000;
}

}




      @media only screen and (max-device-width:1024px), only screen and (max-width:750px)
      {
      
      header {
      /*background-color: #e4e4e4;*/
      background-color: #88c6ea;
      }

      .nav, .nav ul{
      padding:0;
      margin:0;
      list-style:none;
      text-align:center;
      background:#333A40;
	text-transform: uppercase;font-size: 110%; 
      }
 
      .nav li{
      display:inline;
      position:relative;
      border-radius:8px 8px 0 0;
      }
      .nav ul li{
      display:inherit;
      border-radius:0;
      }

      .nav ul li:last-child{
      border-radius:0 0 8px 8px;
      }
   
      .nav li ul{
      max-height:15em;
      }
      .nav li{
      background-color: #729EBF;
      background-image: -webkit-linear-gradient(top, #729EBF 0%, #333A40 100%);
      background-image:linear-gradient(to bottom, #729EBF 0%, #333A40 100%);
      }

      .nav li, .nav li li{
      background:#729EBF;
      }

      .nav ul li:first-child{
      border-radius:8px 8px 0 0;
      }

      .nav a{
      text-decoration:none;
      display:block;
      padding:8px 32px;
      color:#fff;
      font-family:arial;
      }
      .nav ul a{
      padding:8px 0; 
      }
      .nav li li a{
      color:#fff;
      text-transform:inherit;
      }    
      }
